.rectangleStyle {
    -fx-fill: #29a10a;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
    -fx-stroke-type: outside;
}

.rectangleClickedStyle {
    -fx-fill: #154d09;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
    -fx-stroke-type: outside;
}

.circleBlack {
    -fx-fill: black;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
    -fx-stroke-type: outside;
}

.circleWhite {
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
    -fx-stroke-type: outside;
}